<div class="navbar">
    <a href="/Main.html">Почетна</a>
    <div class="subnav">
        <button class="subnavbtn">Производи</button>
        <div class="subnav-content">
            <a href="/PrikaziProizvod.html">Приказ производа</a>
            <a href="/DodajProizvod.html">Додај производ</a>
            <a href="/IzbrisiProizvod.html">Избриши производ</a>
            <a href="/UrediProizvod.html">Уреди производ</a>
        </div>
    </div>
    <div class="subnav">
        <button class="subnavbtn">Купци</button>
        <div class="subnav-content">
            <a href="/PrikaziKupca.html">Приказ купаца</a>
            <a href="/DodajKupca.html">Додај купца</a>
            <a href="/IzbrisiKupca.html">Избриши купца</a>
            <a href="/UrediKupca.html">Уреди купца</a>
        </div>
    </div>
    <div class="subnav">
        <button class="subnavbtn">Особље</button>
        <div class="subnav-content">
            <a href="/PrikaziOsoblje.html">Приказ особља</a>
            <a href="/DodajOsoblje.html">Додај особље</a>
            <a href="/IzbrisiOsoblje.html">Избриши особље</a>
            <a href="/UrediOsoblje.html">Уреди особље</a>
        </div>
    </div>
    <div class="subnav">
        <button class="subnavbtn">Поруџбине</button>
        <div class="subnav-content">
            <a href="/PrikaziPorudzbinu.html">Приказ поруџбина</a>
            <a href="/DodajPorudzbinu.html">Додај поруџбину</a>
            <a href="/IzbrisiPorudzbinu.html">Избриши поруџбину</a>
            <a href="/UrediPorudzbinu.html">Уреди поруџбину</a>
        </div>
    </div>
</div>