<div class="navbar">
    <a href="/Main.html">Pocetna</a>
    <div class="subnav">
        <button class="subnavbtn">Proizvodi</button>
        <div class="subnav-content">
            <a href="/PrikaziProizvod.html">Prikaz proizvoda</a>
            <a href="/DodajProizvod.html">Dodaj proizvod</a>
            <a href="/IzbrisiProizvod.html">Izbrisi proizvod</a>
            <a href="/UrediProizvod.html">Uredi proizvod</a>
        </div>
    </div>
    <div class="subnav">
        <button class="subnavbtn">Kupci</button>
        <div class="subnav-content">
            <a href="/PrikaziKupca.html">Prikaz kupca</a>
            <a href="/DodajKupca.html">Dodaj kupca</a>
            <a href="/IzbrisiKupca.html">Izbrisi kupca</a>
            <a href="/UrediKupca.html">Uredi kupca</a>
        </div>
    </div>
    <div class="subnav">
        <button class="subnavbtn">Osoblje</button>
        <div class="subnav-content">
            <a href="/PrikaziOsoblje.html">Prikaz osoblja</a>
            <a href="/DodajOsoblje.html">Dodaj osoblje</a>
            <a href="/IzbrisiOsoblje.html">Izbrisi osoblje</a>
            <a href="/UrediOsoblje.html">Uredi osoblje</a>
        </div>
    </div>
    <div class="subnav">
        <button class="subnavbtn">Porudzbine</button>
        <div class="subnav-content">
            <a href="/PrikaziPorudzbinu.html">Prikaz porudzbina</a>
            <a href="/DodajPorudzbinu.html">Dodaj porudzbinu</a>
            <a href="/IzbrisiPorudzbinu.html">Izbrisi porudzbinu</a>
            <a href="/UrediPorudzbinu.html">Uredi porudzbinu</a>
        </div>
    </div>
</div>