<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Складиште</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/Main.css') }}" type="text/css">
	{% include "partials/head_funkcije.html" %}
</head>
<body onload="display_ct();">
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/Main.css') }}" type="text/css">
	<div id="container">
		{% include "partials/navbar.html" %}
		<main>
			<section>
         <form id="form1" name="DelOrder">
           <div style="text-align: center;"><b><i>Датум и време: <span id="ct" ></span></i></b></div>
           <div><p></p></div>
           <div id="table-wrapper">
             <div id="table-scroll">
               <table>
									<caption><b> Избриши поруџбину </b></caption>
                 <thead>
                   <tr>
										<th><span>ID поруџбине</span></th>
										<th><span>Назив производа</span></th>
										<th><span>Име купца</span></th>
										<th><span>Име особља</span></th>
										<th><span>Количина</span></th>
										<th><span>Цена</span></th>
										<th><span>Укупна цена</span></th>
                   </tr>
                 </thead>
                 <tbody>
                   {% for row in order_list %}
                     <span class="trtbl">
                     <tr>
                       <td><a href="IzbrisiPorudzbinu.html/{{ row[0] }}">{{ row[0] }}</a></td>
                       <td>{{ row[1] }}</td>
                       <td>{{ row[2] }}</td>
                       <td>{{ row[3] }}</td>
					   					 <td>{{ row[4] }}</td>
					   					 <td>{{ row[5] }}</td>
					   					 <td>{{ row[6] }}</td>
                     </tr>
                     </span>
                   {% endfor %}
                   {% if exac_order is not none %}
                     {% for row in exac_order %}
                       <span class="trtbl">
                       <tr>
                         <td>{{ row[0] }}</td>
                         <td>{{ row[1] }}</td>
                         <td>{{ row[2] }}</td>
                         <td>{{ row[3] }}</td>
						 						 <td>{{ row[4] }}</td>
						 						 <td>{{ row[5] }}</td>
						 						 <td>{{ row[6] }}</td>
                       </tr>
                       </span>
                     {% endfor %}
                   {% endif %}
                 </tbody>
               </table>
             </div>
           </div>
         {% if exac_order != null  %}
            <div id="paznja"><b> Да ли сте сигурни да желите да обришете ову поруџбину? </b></div>
            <input type="submit" value="Потврди" name="submit">
            <input type="button" value="Откажи" name="cancel" onClick="location.href='/IzbrisiPorudzbinu.html'">
		{% endif %}
         </form>
			</section>
		</main>
	</div>
</body>
</html>